.homepageCard{
    display:grid;
    grid-template-columns: repeat(3, 340px);
    justify-items: center;
    place-content: center;
    gap:30px;
    padding:50px;
    .card{
        width:340px;
        height:340px;
        border-radius:10px;
        background-color:linear-gradient(#FFFFFF,#000000 );
    }
}