@use "../../assets/styles/mixins" as mixin;

.header{
    .headerIcon{
        img{
            width:210px;
            height:68px;
            @include mixin.sm-lt{
                width:145px;
                height:47px;
            }
            @include mixin.xs{
                width:99px;
                height:35px;
            }
        }
    }
    .headerItems{
        color:var(--primary);
        /*text-decoration:none;
        cursor:pointer;
    }
}