
*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: var(--montserrat);
    
}

p{
    margin:0;
}

li{
    list-style-type: none;
    
}

.link{
    color:var(--primary);
    font-size:18px;
}

.active{
    text-decoration:underline !important;
}
.list
