.d-flex{
    display: flex;
}

.flex-column{
    flex-direction : column;
}

.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.