
/*----------------------------------------------------------------------------Color-----------------------------------------------------------------*/

:root{
    --primary: #FF6060;
    --grey1:#F6F6F6;
    --grey2: #E3E3E3;
    --grey3:#C4C4C4;
    --black: #010101;
    /*----------------------------------------------------------------------------Font-----------------------------------------------------------------*/
    --montserrat : 'Montserrat', sans-serif;
    --radius:25px;
}


