
/*----------------------------------------------------------------------------Color-----------------------------------------------------------------*/

:root{
    --primary: #FF6060;
    --grey1:#F6F6F6;
    --black: #010101;
}