
.fichelogement{
    min-height:100vh;
    max-width:1240px;
    margin:auto;
    width:100%;
    padding-top:30px;
    color:var(--primary);
    .fichelogementContent{
        margin-top:20px;
        .fichelogementTitle{
            font-size:36px;
        }
        .fichelogementTagName{
            p{
                background-color:var(--primary);
                color:white;
                
            }
        }
    }
}

