@use "../../assets/styles/mixins" as mixin;


.fichelogement{
    height:150vh;
    max-width:1240px;
    margin:auto;
    width:100%;
    padding-top:30px;
    padding-bottom:100px;
    color:var(--primary);
    @include mixin.lg-lt{
        margin:20px;
    }

    .fichelogementBackground{
        width:100%;
        height:400px;
        max-width:100%;
        border-radius:var(--radius);
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }
    .fichelogementContent{
        margin-top:20px;

        .fichelogementEnTete{
            display:flex;
            flex-direction:column;
            align-items:center;
            @include mixin.lg-lt{
                flex-direction: row-reverse;
                align-items:center;
            }
            .fichelogementStars{
                margin-right:10px;
            }
        }

        .fichelogementDescription{
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;
            @include mixin.lg-lt{
                flex-direction: column;
                align-items:start;
            }
        }
             
        .fichelogementTitle{
            font-size:36px;
        }
        .fichelogementTagName{
            p{
                background-color:var(--primary);
                color:white;
                margin-right:20px;
                padding:5px 25px;
                border-radius: 10px;
            }
        }
        .fichelogementPhotoIdentite{
            width:65px;
            height:65px;
            border-radius:50%;
            object-fit:cover;
            margin-left:20px;
            img{
                width:100%;
                height:100%;
            }
        }
        .fichelogementBlocs{
            display:flex;
            gap:30px;
            margin-top:30px;
            
            .fichelogementCard{
                width: calc(100%/2);
            }
        }
        
    }

}

