@use "../../assets/styles/mixins" as mixin;

.error{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    .errorStatus{
        font-size:288px;
        font-weight:700;
        color:var(--primary);
        @include mixin.xs{
            font-size:96px;
            font-weight:500;
        }
    }
    .errorTxt{
        color:var(--primary);
        font-weight:500;
        font-size:36px;
        text-align:center;
        margin-bottom:100px;
        @include mixin.xs{
            font-size:18px;
        }
    }
    .linkError{
        font-weight:500;
        color:var(--primary);
        @include mixin.xs{
            font-size:14px;
        }
    }
}
