.homepage{
    .homepageImg{
        height:223px;
        position:relative;
        ::after{
            position:absolute;
        }
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            border-radius:25px;
        }
        .homepageTxtImg{
            position:absolute;
            top:30%;
            left:50%;
            transform:translate(-50%, -50%);
            color:white;
            font-size:40px;
        }
    }
}