.caroussel{
    .carousselImage{
        position:relative;
        
    }
    .chevronRight{
        position:absolute;
        top:50%;
        left:50%;
    }
    .chevronLeft{
        position:absolute;
    }
}