.caroussel{
    
    .carousselImage{
        position:relative;
        
    }
    .chevronRight{
        position:absolute;
        top:50%;
        right:100%;
        font-size:50px;
        color:white;
    }
    .chevronLeft{
        position:absolute;
    }
}