.caroussel{
    .carousselImage{
        position:relative;
        .chevronRight{
            position:absolute;
            top
        }
        .chevronLeft{
            position:absolute;
        }
    }
}