.caroussel{
    .carousselImage{
        position:relative;
        .chevronRight{
            position:absolute;
            top:0;
        }
        .chevronLeft{
            position:absolute;
        }
    }
}