@use "../../assets/styles/mixins" as mixin;

.homepage{
    max-width:1240px;
    margin:auto;
    width:100%;
    @include mixin.sm-lt{
        padding:20px;
    }
    .homepageImg{
        height:223px;
        position:relative;
        &::after{
            position:absolute;
            opacity:0.3;
            background-color:black;
            content:"";
            top:50%;
            left:50%;
            width:100%;
            height:100%;
            transform: translate(-50%,-50%);
            border-radius:var(--radius);
            @include mixin.sm-lt{
                border-radius:10px;
            }
        }
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            border-radius:var(--radius);
            @include mixin.sm-lt{
                border-radius:10px;
            }
        }
        @include mixin.sm-lt{
            height:111px;
        }
        .homepageTxtImg{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            color:white;
            font-size:48px;
            z-index:1;
            width:60%;
            font-weight:500;
            @include mixin.md-lt{
                font-size:30px;
            }
            @include mixin.sm-lt{
                font-size:24px;
                left:35%;
                font-weight:500;
                -webkit-line-clamp: 2;
                display:-webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }
    .homepageGallery{
        background-color: var(--grey1);
        border-radius:25px;
        @include mixin.sm-lt{
            background-color: transparent;
        }
        .homepageCard{
            display:grid;
            grid-template-columns: repeat(3, 340px);
            grid-auto-columns:repeat(3, 350px);
            justify-items: center;
            place-content: center;
            gap:30px;
            padding:30px;
            @include mixin.lg-lt{
                grid-template-columns: repeat(3, 300px);
                grid-auto-columns:repeat(2, 300px);
            }
            @include mixin.lg{
                grid-template-columns: repeat(3, 280px);
                grid-auto-columns:repeat(2, 340px);
            }
            @include mixin.md-lt{
                grid-template-columns: repeat(2, 340px);
                grid-auto-columns:repeat(1, 340px);
            }
            @include mixin.sm-lt{
                grid-template-columns: 1fr;
                padding:0;
            }
        }
    }
}