@use "../../../../assets/styles/mixins" as mixin;

        .cardDescriptionCard{
            padding-bottom:20px;
            border-radius:5px;
            font-size:24px;
            gap:20px;
            width:100%;
            transition:1s
            .cardDescriptionTitle{
                background-color:var(--primary);
                height:45px;
                display:flex;
                align-items:center;
                padding: 0 15px;
                color:white;
                justify-content: space-between;
                border-radius:5px;
                margin:0;
                cursor:pointer;
            }
            .cardDescriptionHidden{
                display:none;
                padding: 20px 30px 20px 15px;
            }
            .cardDescriptionShow{
                padding: 20px 30px 20px 15px;
                display:block;
                color:var(--primary);
                background-color:var(--grey1);
            }
            .cardDescriptionIcon{
                cursor:pointer;
            }
           
        }