@use "../../../../assets/styles/mixins" as mixin;

@keyframes disparition {
    0%{
        height: 100%;
        padding:20px;
       
    }
    20%{
        height: 80%;
        padding:20px;
        
    }
    40%{
        height: 60%;
        padding:20px;
    }
    60%{
        height: 40%;
        padding:20px;
    }
    80%{
        height: 20%;
        padding:20px;
    }

    90%{
        height:10%;
        padding:
    }
    100%{
        height:0%;
    }
}

@keyframes apparition {
    0%{
        height: 0%;
    }
    20%{
        height: 20%;
        padding:20px
    }
    40%{
        height: 40%;
        padding:20px;
    }
    60%{
        height: 60%;
        padding:20px
    }
    80%{
        height: 80%;
        padding:20px;
    }
    100%{
        height:100%;
        padding:20px;
    }
}

        .cardDescriptionCard{
            padding-bottom:20px;
            border-radius:5px;
            font-size:24px;
            gap:20px;
            .cardDescriptionTitle{
                background-color:var(--primary);
                height:45px;
                display:flex;
                align-items:center;
                padding: 0 15px;
                color:white;
                justify-content: space-between;
                border-radius:5px;
                margin:0;
                cursor:pointer; 
            }
            .cardDescriptionHidden{
                animation: 5s disparition forwards;
                background-color:black;
                overflow: hidden;       
                    
            }
            .cardDescriptionShow{
                display:block;
                color:var(--primary);
                background-color:black;
                animation: 5s apparition forwards;
                overflow: hidden;
            }
            .cardDescriptionIcon{
                cursor:pointer;
            }
        }