@use "../../../../assets/styles/mixins" as mixin;

@keyframes disparition {
    0%{
        height: 100%;
        opacity:1;
        color:var(--primary)
    }
    20%{
        height: 80%;
        opacity:1;
        color:var(--primary)
    }
    40%{
        height: 60%;
        opacity:1;
        color:var(--primary)
    }
    60%{
        height: 40%;
        opacity:1;
        color:var(--primary)
    }
    80%{
        height: 20%;
        opacity:1;
        color:var(--primary)
    }
    100%{
        height:0;
        opacity:0;
        color:black;
    }
}

        .cardDescriptionCard{
            padding-bottom:20px;
            border-radius:5px;
            font-size:24px;
            gap:20px;
            height:100%;
            .cardDescriptionTitle{
                background-color:var(--primary);
                height:45px;
                display:flex;
                align-items:center;
                padding: 0 15px;
                color:white;
                justify-content: space-between;
                border-radius:5px;
                margin:0;
                cursor:pointer; 
            }
            .cardDescriptionHidden{
                animation: 3s disparition ;
                padding: 20px 30px 20px 15px;
                p{
                    color:black;
                }
            }
            .cardDescriptionShow{
                padding: 20px 30px 20px 15px;
                display:block;
                color:var(--primary);
                background-color:bk;
                height:100%;
            }
            .cardDescriptionIcon{
                cursor:pointer;
            }
        }