.fichelogementStars{
    padding-right:10px;
    font-size:18px;
    margin-top:10px;
    margin-left:auto;
    color:var(--grey2);
    @include mixin.lg-lt{
        margin:0;
    }
    .starsColored{
        color:var(--primary);
    }
}